<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.middle.dao.BookMapper">

    <resultMap id="resultMap" type="com.mt.common.entity.middle.BookEntity">
        <id property="id" column="id"/>
        <collection property="files" ofType="com.mt.common.entity.middle.FileEntity" column="id"
                    javaType="java.util.ArrayList" select="getFiles"/>
    </resultMap>

    <sql id="column">
        id,name,publish_time,author,remark,type,tags,url
    </sql>

    <select id="selectByList" resultMap="resultMap" parameterType="com.mt.common.entity.middle.BookEntity">
        select
        <include refid="column"/>
        from book
        <where>
            <if test="name !=null and name !=''">
                and name = #{name}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getFiles" parameterType="long" resultType="com.mt.common.entity.middle.FileEntity">
        select id,file_name,file_path,relate_id
        from iot_server.sys_file
        where relate_id = #{id}
    </select>
</mapper>
